<div class="row">
  <h1>{{user.knownAs}}'s Profile</h1>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user.knownAs}} ">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{user.city}}, {{user.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{user.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{user.lastActive |date : 'hh:mm dd/MM/yyyy': 'GMT-3' : 'pt'}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{user.createdAt |date : 'dd/MM/yyyy'}}</p>
        </div>
      </div>

      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary w-100">Like</button>
          <button class="btn btn-success w-100">Message</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-8">
    <div class="tab-panel">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
            aria-controls="nav-about" aria-selected="true">About {{user.knownAs}}</a>
          <a class="nav-item nav-link" id="nav-interests-tab" data-toggle="tab" href="#nav-interests" role="tab"
            aria-controls="nav-interests" aria-selected="false">Interests</a>
          <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab"
            aria-controls="nav-photos" aria-selected="false">Photos</a>
          <a class="nav-item nav-link" id="nav-messages-tab" data-toggle="tab" href="#nav-messages" role="tab"
            aria-controls="nav-messages" aria-selected="false">Messages</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
          <h4>Intro:</h4>
          <p>{{user.introduction}}</p>
          <h4>Looking for:</h4>
          <p>{{user.lookingFor}}</p>
        </div>
        <div class="tab-pane fade" id="nav-interests" role="tabpanel" aria-labelledby="nav-interests-tab">
          <h4>Interests:</h4>
          <p> {{user.interests}}</p>
        </div>
        <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"> </ngx-gallery>
        </div>
        <div class="tab-pane fade" id="nav-messages" role="tabpanel" aria-labelledby="nav-messages-tab">
          Mensagens
        </div>
      </div>
    </div>
  </div>
</div>